doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/metroui/css/metro-bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/metroui/css/metro-bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/metroui/css/iconFont.css')
        link(rel='stylesheet', href='/stylesheets/metroui/css/docs.css')
        link(rel='stylesheet', href='/stylesheets/metroui/js/prettify/prettify.css')


        script(type='text/javascript',src='/javascripts/jquery-1.7.2.min.js')
        script(type='text/javascript',src='/index_controller.js')
        script(type='text/javascript',src='/httpmanager.js')
        script(type='text/javascript',src='/stylesheets/metroui/js/jquery/jquery.widget.min.js')
        script(type='text/javascript',src='/stylesheets/metroui/js/jquery/jquery.mousewheel.js')
        script(type='text/javascript',src='/stylesheets/metroui/js/prettify/prettify.js')
        script(type='text/javascript',src='/stylesheets/metroui/js/holder/holder.js')
        script(type='text/javascript',src='/stylesheets/metroui/js/load-metro.js')
    body.metro(style='background-color:#ededef;')
        header.bg-dark.col.rightalignsty
            a(href="/",title='主页')
                i.icon-home.fg-white
            a(href="/publishblog",title='写博客')
                i.icon-clipboard-2.fg-white
            span.usernamesty #{username}
            a(href="/logout",title='注销')
                i.icon-switch.fg-white
        block content
            div#blogcontent.indexcontent
                div#indexleft
                    div#bloglist
                div#indexright
